@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import "tailwindcss";


@theme {
    --font-primary: "Roboto Mono", monospace;
    --font-secondary: "Agdasima", serif;

    --color-alphaBlack: #1C1B17;
    --color-alphaLightBlack: #282723;
    --color-alphaWhite: #FEF3F0;
    --color-alphaOrange: #D84E2C;
    --color-alphaOrangeHover: #B43E20;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-alphaBlack);
    color: var(--color-alphaWhite);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

.text-outline {
    -webkit-text-stroke: 2px var(--color-alphaLightBlack);
    -webkit-text-fill-color: transparent;
}

.text-outline-xl {
    -webkit-text-stroke: 7px var(--color-alphaLightBlack);
    -webkit-text-fill-color: transparent;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.perspective-1000 {
    perspective: 1000px;
    perspective-origin: center center;
    transform-style: preserve-3d;
}
