@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
    --font-primary: "Roboto Mono", monospace;
    --font-secondary: "Agdasima", serif;

    --color-alphaBlack: #1C1B17;
    --color-alphaLightBlack: #282723;
    --color-alphaWhite: #FEF3F0;
    --color-alphaOrange: #D84E2C;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-alphaBlack);
    color: var(--color-alphaWhite);
    margin: 0;
    padding: 0;
}
